@use '../abstracts/variables' as *;

.brand-header {
  display: flex;
  align-items: center;
  gap: clamp(12px, 3vw, 24px);
}

.brand-header .brand-heading {
  display: flex;
  flex-direction: column;
}

.brand-heading {
  margin-left: $brand-heading-margin-left;
}

.brand-header .sub-h1 {
  display: flex;
  align-items: center;
}

.spacer-horizontal {
  display: inline-block;
  padding: 0 2ch;   // visually even spacing
  line-height: 0;
}

// // font size of h1 to chnage 
// @media