@use '../abstracts/variables'as *;

.hero-bg {

    position: relative;
    width: 100%;
    height: $hero-separator-height;
    /* Or whatever height it needs */

    /* Good practice if children might extend beyond its bounds */
    /* For visibility during testing */
}

.hero-separator {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: $hero-separator-width;
    /* Example value */
    height: auto;
    /* Example value */
    /* Or, if the SVG itself has intrinsic dimensions, you might not need these
       on the wrapper, but it's often safer. */
}

.right-separator {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: $hero-separator-width - 1px;
    width: 100vw;
    /* Example value */
    height: $hero-separator-step;
    background-color: $secondary-color;
}

.left-separator {
    z-index: -1;
    position: absolute;
    bottom: 0;
    /* Aligned to the bottom of .hero-bg */
    left: -100vw;
    /* Starts from the very left edge of .hero-bg */
    width: 100.5vw;
    /* Example: Define its width */
    height: $hero-separator-height;
    /* Example: Define its height */
    background-color: $secondary-color;
    /* For testing visibility */

}