 .carousel-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0;
}

.styled-swiper {
  width: 100%;
  max-width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  user-select: none;
  -webkit-user-drag: none;
}

.styled-swiper {
  position: relative;
  overflow: visible;

  .swiper-button-next,
  .swiper-button-prev {
    color: #333; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }
}
 
.carousel-slide {
  width: 300PX;
  height: auto;
  display: flex;
  justify-content: center;
}

.carousel-image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.carousel-image:hover {
  transform: scale(1.03);
}