$breakpoint-sm: 400px;
$breakpoint-md: 768px;
$breakpoint-md: 1200px;

//------------------hero section------------------
$hero-separator-width: 700px;
$hero-separator-height: 330px;
$hero-separator-step: 115px;
$hero-margin-bottom: 30px;


$cta-padding-top: 20px;
$cta-font-size: 4.2em;
$cta-line-height: 1em;

$cta-button-margin-top: 20px;
$cta-button-width: 350px;
//------------------h1.h2------------------

$h1-font-size: 127px;
$sub-h1-font-size: 31px;
$sub-h1-width: 515px;
$letter-spacing: 0px;

$h2-font-weight:500;
$h2-font-size: 45px;
$sub-h2-font-size: 31px;
$sub-h2-width: 530px;
$letter-spacing: 0px;
$h2-margin-bottom: 20px;

$bg-color: #c4b782;
$pattern: 300px;

$primary-color: rgb(0, 0, 0);
$secondary-color: #fff;

$title-fontsize: 60px;

$logo-size-small: 32px;
$logo-size-medium: 50px; // This matches your current 50x50
$logo-size-large: 80px;
$logo-size-xl: 240px;



//background size
//background position