$breakpoint-sm: 400px;
$breakpoint-md: 768px;
$breakpoint-md: 1200px;


$bg-color: #D8CBA4;
$pattern: 120px;

$primary-color: rgb(0, 0, 0);
$secondary-color: #fff;

$title-fontsize: 60px;

$logo-size-small: 32px;
$logo-size-medium: 50px; // This matches your current 50x50
$logo-size-large: 80px;
$logo-size-xl: 240px;



//background size
//background position