@use '../abstracts/variables' as *;

.sub-h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $sub-h1-width;
}

.landing-page {
  overflow: hidden;
}

.foreground {
  position: absolute;
  margin-left: 60rem;
  margin-top: -25rem;

  max-width: $hero_foreground_maxWidth;
  width: 100%;
  height: auto;
  display: block;
  right: $hero_foreground_horizMove;
  top: $hero_foreground_vertMove;
}

.hiw-item {
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
}

.sticky-viewport {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.howItWorks-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.howItWorks-instructions-item {
  width: 250px;
  height: 100px;
  text-align: center;

  position: relative;

  span {
    color: white;
    font-family: orbitron, sans-serif;
    font-size: x-large;
    font-weight: 1200;
    text-decoration: solid;
    text-shadow: 1px 0 0px rgb(255, 255, 255);
  }
}

.howItWorks-instructions-item:not(:last-child)::after {
  content: '→';
  /* The character for a right-pointing arrow (you can use unicode or an image/SVG too) */

  // Positioning the arrow to the right edge of the item, centered vertically
  position: absolute;
  right: -30px;
  /* Adjust this value to set the spacing between the item and the arrow */

  /* Ensures perfect vertical centering */
  transform: translateY(-50%);
  // Optional styling for the arrow
  font-size: 44px;

  /* A subtle color */
  padding: 0 10px; // Adds a little breathing room
}

.testimonials {
  margin-top: 30px;
  display: flex;

  // 2. Center the children (the blockquote) horizontally
  justify-content: center;
}

blockquote {
  p:before {
    content: open-quote;
  }

  p:after {
    content: close-quote;
  }

  p {
    font-style: italic;
  }

  .author:before {
    content: '-';
  }

  .author {
    margin-top: -20px;
    padding-left: 3rem;
    font-style: unset;
    margin-bottom: 20px;
  }
}

.bottom-image {
  margin: auto;
  margin-bottom: 30px;
}
