@use "../abstracts/variables"as *;

.sub-h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $sub-h1-width;
}

.landing-page {
  overflow: hidden;
}

.foreground {
  position: absolute;
  margin-left: 60rem;
  margin-top: -25rem;

  max-width: $hero_foreground_maxWidth;
  width: 100%;
  height: auto;
  display: block;
  left: $hero_foreground_horizMove;
  top: $hero_foreground_vertMove;



}

@media (max-width: 636px) {
  .logo-section {
    width: 130px;
  }

  .sub-h1 {
    flex-direction: column;
    line-height: 30px;
    margin-top: 0;
  }

  .spacer-horizontal {
    display: none;
  }

  h1 {
    margin-top: 4px;
    line-height: 90px;
  }
}

.hiw-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 1 | 2 side by side */
  gap: clamp(1rem, 3vw, 2rem);
  align-items: start;
}

.hiw-item--full {
  grid-column: 1 / -1;
  /* span both columns */
  justify-self: center;
  text-align: center;
  max-width: 900px;
  /* optional: keep it tidy */
}

/* Responsive stack */
@media (max-width: 900px) {
  .hiw-grid {
    grid-template-columns: 1fr;
  }

  .hiw-item--full {
    justify-self: stretch;
    text-align: left;
  }
}