@use '../abstracts/variables'as *;
@use "sass:math";

body {
  padding: 5px 0;
  margin: 0 auto;

  background-color: $bg-color;
  background-image:
    url('../../../public/images/wallpaper.svg'),
    url('../../../public/images/wallpaper.svg');
  background-repeat: repeat;
  background-size: $pattern $pattern;
  background-position: 0 0,
  #{math.div($pattern, 2)} #{math.div($pattern, 2)};
}


/* Global: Smooth scroll */
html {
  scroll-behavior: smooth;
}