/* -----------------------------------
   TYPOGRAPHY — Global Font Styles
   ----------------------------------- */

/* Font Imports (Google Fonts) */
@use '../abstracts/variables'as *;
@import url('https://fonts.googleapis.com/css2?family=Smythe&family=Orbitron:wght@400;700&family=Rajdhani:wght@400;600&family=Sofia+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

/* Font Stacks */
$font-smythe: 'Smythe',
cursive;
$font-orbitron: 'Orbitron',
sans-serif;
$font-rajdhani: 'Rajdhani',
sans-serif;
$font-sofia: 'Sofia Sans',
sans-serif;

/* Base Typography */
body {
  font-family: $font-sofia;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
}

/* Headings */
h1 {
  margin-left: -5px;
  font-family: $font-rajdhani;
  font-weight: 900;
  font-size: 127px;
  line-height: 0.9;
  color: $secondary-color;
}





.sub-h1 {

  font-family: $font-rajdhani;
  font-weight: 600;
  color: $secondary-color;
  font-size: 37px;
  margin-top: -20px;

}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-orbitron;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

/* Paragraphs */
p {
  margin-bottom: 1em;
}

/* Utility Font Classes */
.font-smythe {
  font-family: $font-smythe;
}

.font-orbitron {
  font-family: $font-orbitron;
}

.font-rajdhani {
  font-family: $font-rajdhani;
}

.font-sofia {
  font-family: $font-sofia;
}